html {
    box-sizing: border-box;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

*
,*::before
,*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

img {
    max-width: 100%;
}

ul li {
    padding: 0;
    margin: 0;
}

strong {
    display: block;
}

/* Complete header section */
header {
    background-color: #1f2937;
    color: white;
}

/* Nav bar */
nav {
    padding: 2rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #3882f6;
}

.subsection-two {
    display: flex;
    padding: 10rem 26rem 10rem 26rem;
    align-items: center;
}

.subsection-two h1 {
    line-height: 3rem;
}

.subsection-two button {
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    margin: 0.6rem 0;
    background-color: #3882f6;
    color: white;
    border-radius: 0.2rem;
    border: none;
}

.subsection-two button:hover {
    color: #3882f6;
    background-color: white;
}

.img-one {
    width: 500px;
    height: 350px;
    border-radius: 1.5rem;
    border: 3px solid #3882f6;
}

/* Second section */
section:nth-of-type(1) {
    padding: 0rem 26rem 0rem 26rem;
}

section:nth-of-type(1) img {
    width: 200px;
    border: 2px solid #1f2937;
    border-radius: 1.5rem;
}

.subsection-three {
    text-align: center;
    padding: 3rem 0 1.5rem 0;
}

.subsection-four {
    display: flex;
    padding: 1.5rem 0 5.5rem 0;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

/* Third section */
section:nth-of-type(2) {
    background-color: #e5e7eb;
    padding: 5.5rem 26rem 5.5rem 26rem;
}

blockquote {
    line-height: 2.5rem;
    font-size: 1.5rem;
}

blockquote p {
    font-weight: bolder;
    text-align: right;

}

/* Fourth section */
section:nth-of-type(3) {
    padding: 5rem 26rem 5rem 26rem;
    color: white;
}

.subsection-six-seven {
    display: flex;
    background-color: #3882f6;
    border-radius: 1rem;
    padding: 3rem 3rem;
    justify-content: space-around;
    align-items: center;

}

.subsection-seven button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    border-radius: 0.2rem;
    font-weight: bold;
}

.subsection-seven button:hover {
    color: #3882f6;
    background-color: white;
}

/* Footer Section */
footer {
    display: flex;
    padding: 2rem 0 2rem 0;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
}
